$primary-dark: #333;
$primary-dark-tint-light: #666;
$primary-light: #fff;
$secondary-dark: #5938ff;
$secondary-dark-tint-dark: #5136ac;
$secondary-dark-tint-dark-alpha: rgba(81,54,172,0.3);

$active-highlight-light: #9cff98;
$active-highlight-dark: #00a133;

$dirty-highlight-light: #ffe0aa;
$dirty-highlight-dark: #bfa45d;

$base-font-size: 18px;
$base-font-family: Cabin, sans-serif;
$heading-font-family: Lalezar, cursive;
