// main colours
$primary-dark: rgb(79, 12, 96);
$primary-dark-tint-light: rgb(138, 23, 155);
$primary-light: rgb(11, 255, 153);

// text colours
$text-dark: #333;
$text-dark-tint-light: #666;
$text-light-tint-dark: #bababa;
$text-light: #fff;

// leaderboard selection
$active-highlight-light: #a2f3a2;
$active-highlight-dark: #20b659;
$dirty-highlight-light: #ffecde;
$dirty-highlight-dark: #d6c38b;

// typeface
$base-font-size: 16px;
$base-font-size-lg: 18px;
$base-font-family: Cabin, sans-serif;
$heading-font-family: Lalezar, cursive;

// misc
$border-radius: 5px;
