@import 'variables';
@import 'custom-bootstrap';
@import 'custom-vue';
@import url('https://fonts.googleapis.com/css?family=Cabin|Lalezar&display=swap');

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

html {
  font-size: $base-font-size;
}

body {
  background: $primary-light;
  color: $primary-dark;
  font-family: $base-font-family;
}

hr {
  border-top: 1px solid $primary-dark;
}

h1 {
  font-size: 2rem;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  color: $secondary-dark;
}

.error-messages {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.main-wrapper {
  position: relative;
  min-height: 100vh;

  .content-wrapper {
    padding-top: 2rem;
    padding-bottom: 60px; /* 40px height of footer + an extra 20px whitespace */
  }

  .footer {
    font-size: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1em;
    padding: 0 0.3em;
    line-height: 0.75em;
    background: $secondary-dark;
    color: $primary-light;

    a, a:hover {
      color: $primary-light;
    }

    .left-section {
      float: left;
    }

    .right {
      float: right;
    }

    .status-information {
      display: inline-block;
      padding-right: 1em;
      font-size: 0.3em;
    }

    .repo-link {
      display: inline-block;
      font-size: 0.7em;
    }
  }
}

.banner-container {
  height: 130px;

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $secondary-dark;
    background-image: url('/assets/img/banner-bg.png');
    background-size: contain;
    background-repeat: repeat-x;
    padding: 2rem 0.5rem;
    text-align: center;

    h1.banner-title {
      display: inline-block;
      margin: 0;
      line-height: inherit;
      padding: 0 0.5rem;
      color: $primary-light;
    }
  }
}

.accented-component {
  max-width: 400px;
  margin: 1rem auto;
  border: 2px solid $secondary-dark;
  border-radius: 5px;
  padding: 0.5rem;
}

.page-section {
  padding: 1.5rem;

  .icon {
    height: 70px;
    font-weight: bold;
    font-size: 3rem;
    color: $secondary-dark;
  }
}

.intro-cta {
  text-align: center;
}

.how-it-works {
  text-align: center;
  align-items: stretch;

  .stage {
    .stage-title {
      padding-bottom: 1rem;

      .num {
        display: inline-block;
        top: -1px;
        position: relative;
        border: 3px solid $secondary-dark;
        width: 27px;
        height: 27px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        font-weight: bold;
        color: $secondary-dark;
      }

      .label {
        display: inline-block;
        padding-left: 0.5rem;
        font-weight: bold;
        font-size: 1.4rem;
        color: $secondary-dark;
      }
    }

    .stage-description {
      padding: 0.25rem;

      ul {
        padding-inline-start: 20px;
      }
    }
  }
}

.cta-group {
  text-align: center;

  .cta {
    margin-top: 1rem;
  }
}

.countdown-container {
  margin-bottom: 2rem;

  .countdown {
    text-align: center;

    .remaining-time {
      font-size: 1.2rem;
    }
  }
}

.highlight-container {
    background: $secondary-dark;
    color: $primary-light;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: $heading-font-family;

    p {
      margin-bottom: 0;
    }
}

.payment-info {
  margin-bottom: 2rem;

  ul {
    margin-bottom: 1rem;
  }
}

.payment-summary {
  padding-bottom: 2rem;

  .payment-amount {
    display: inline-block;
    color: $secondary-dark;
    font-family: $heading-font-family;
    font-size: 1.7rem;
  }
}

.registration-success-summary {
  text-align: center;

  .success-highlight {
    color: $active-highlight-dark;

    h2 {
      color: $active-highlight-dark;
      font-size: 2.5rem;
    }

    .big-tick {
      font-size: 4rem;
    }
  }

  .text-highlight {
    font-size: 1.4rem;
    color: $active-highlight-dark;
  }
}

.form-label-definition {
  .form-label-definition-name {
    margin-bottom: 0;
    font-weight: bold;
  }

  .form-label-definition-description {
    padding-left: 0.75rem;
    font-style: italic;
  }
}

.form-primary {
  width: 100%;

  hr {
    border-top-style: dashed;
    margin: 2rem;
  }
}

.submit-wrapper {
  margin-top: 1rem;
  text-align: center;
}

.call-to-action-wrapper {
  padding-top: 1rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;

  input {
    height: auto;
    border-radius: 1rem;

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &::-ms-input-placeholder {
      color: transparent;
    }

    &::placeholder {
      color: transparent;
    }

    &:not(:placeholder-shown) {
      padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
      padding-bottom: calc(var(--input-padding-y) / 3);
    }

    &:not(:placeholder-shown)~label {
      padding-top: calc(var(--input-padding-y) / 3);
      padding-bottom: calc(var(--input-padding-y) / 3);
      font-size: 12px;
      color: #777;
    }
  }

  >input, >label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  >label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: $primary-light-tint-dark;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
}

.prediction {
  .remaining {
    color: $secondary-dark;
    font-weight: bold;
  }
}

.rankings {
  .rankings-row {
    height: 75px;
    font-size: 1.3rem;

    &:not(:last-child) {
      border-bottom: solid 1px $primary-light-tint-dark;
    }

    .position {
      width: 15px;
      font-weight: bold;
      padding: 0 1rem;
      text-align: right;
    }

    .name {
      font-weight: bold;
      padding: 0 1rem;
    }
  }

  &.clickable {
    .rankings-row {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.teams-reorder {
  .team-row {
    &.selected {
      background: $active-highlight-light;
      border: 2px solid $active-highlight-dark;
    }

    &.dirty {
      background: $dirty-highlight-light;
      border: 2px solid $dirty-highlight-dark;
    }
  }
}

.round-navigation {
  min-width: 90px;

  i:hover {
    cursor: pointer
  }
}

.leaderboard-render {
  .popout {
    text-align: right;
  }
}

.last-updated {
  padding-bottom: 2rem;
}

table.rankings, table.round, table.teams-reorder-admin {
  width: 100%;
  margin: 0 auto;

  .crest-outer {
    width: 50px;
    text-align: center;

    .crest {
      display: inline-block;
      width: 40px;
      padding: 0.25rem 0;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}

table.round {
  color: $secondary-dark;
  font-family: $heading-font-family;
  font-size: 2rem;
  margin: 2rem auto;
}

.loader-container {
  width: 90px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.text-highlight {
  color: $secondary-dark;
  font-weight: bold;
}

.text-lolight {
  color: $primary-light-tint-dark;
}

@media screen and (min-width: 768px) {
  table.rankings:not(.full-width), table.round, table.teams-reorder-admin {
    width: 75%;
  }

  .cta {
    &.left-side {
      text-align: right;
    }

    &.right-side {
      text-align: left;
    }
  }

  .countdown-container {
    .countdown {
      .remaining-time {
        font-size: 1.5rem;
      }
    }
  }

  .highlight-container {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: $base-font-size-lg;
  }

  .page-section {
    padding: 3rem;
  }

  .accented-component {
    max-width: 100%;
    height: 100%;
  }

  .banner-container {
    height: 160px;
  }

  h1 {
    font-size: 2.5rem;
  }

  table.rankings:not(.full-width), table.round {
    width: 50%;
  }
}
