@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Cabin|Fredoka+One&display=swap');

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

html {
  font-size: $base-font-size;
}

body {
  background: $primary-light;
  color: $primary-dark;
  font-family: $base-font-family;
}

hr {
  border-top: 1px solid $primary-dark;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
}

h1 {
  color: $secondary-light;
}

h2 {
  color: $tertiary-light;
}

.form-register {
  width: 100%;

  .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;

  input {
    height: auto;
    border-radius: 2rem;
  }

  input::-webkit-input-placeholder {
    color: transparent;
  }

  input:-ms-input-placeholder {
    color: transparent;
  }

  input::-ms-input-placeholder {
    color: transparent;
  }

  input::-moz-placeholder {
    color: transparent;
  }

  input::placeholder {
    color: transparent;
  }

  input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  >input, >label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  >label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: $primary-dark;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
}
