@import 'variables';
@import 'custom-bootstrap';
@import 'custom-vue';
@import url('https://fonts.googleapis.com/css?family=Cabin|Lalezar&display=swap');

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

html {
  font-size: $base-font-size;
}

body {
  background: $primary-light;
  color: $primary-dark;
  font-family: $base-font-family;
}

hr {
  border-top: 1px solid $primary-dark;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  color: $secondary-dark;
}

.error-messages {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.main-wrapper {
  position: relative;
  min-height: 100vh;

  .content-wrapper {
    padding-top: 2rem;
    padding-bottom: 60px; /* 40px height of footer + an extra 20px whitespace */
  }

  .footer {
    font-size: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1em;
    padding: 0 0.3em;
    line-height: 0.75em;
    background: $secondary-dark;
    color: $primary-light;

    a, a:hover {
      color: $primary-light;
    }

    .left-section {
      float: left;
    }

    .right {
      float: right;
    }

    .status-information {
      display: inline-block;
      padding-right: 1em;
      font-size: 0.3em;
    }

    .repo-link {
      display: inline-block;
      font-size: 0.7em;
    }
  }
}

.form-primary {
  width: 100%;

  hr {
    border-top-style: dashed;
    margin: 2rem;
  }
}

.submit-wrapper {
  margin-top: 1rem;
  text-align: center;
}

.call-to-action-wrapper {
  padding-top: 1rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;

  input {
    height: auto;
    border-radius: 1rem;

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &::-ms-input-placeholder {
      color: transparent;
    }

    &::placeholder {
      color: transparent;
    }

    &:not(:placeholder-shown) {
      padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
      padding-bottom: calc(var(--input-padding-y) / 3);
    }

    &:not(:placeholder-shown)~label {
      padding-top: calc(var(--input-padding-y) / 3);
      padding-bottom: calc(var(--input-padding-y) / 3);
      font-size: 12px;
      color: #777;
    }
  }

  >input, >label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  >label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: $primary-light-tint-dark;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
}

.prediction {
  .remaining {
    color: $secondary-dark;
    font-weight: bold;
  }
}

.rankings {
  .rankings-row {
    height: 75px;
    font-size: 1.3rem;

    &:not(:last-child) {
      border-bottom: solid 1px $primary-light-tint-dark;
    }

    .position {
      width: 15px;
      font-weight: bold;
      padding: 0 1rem;
      text-align: right;
    }

    .name {
      font-weight: bold;
      padding: 0 1rem;
    }
  }

  &.clickable {
    .rankings-row {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.teams-reorder {
  .team-row {
    &.selected {
      background: $active-highlight-light;
      border: 2px solid $active-highlight-dark;
    }

    &.dirty {
      background: $dirty-highlight-light;
      border: 2px solid $dirty-highlight-dark;
    }
  }
}

.round-navigation {
  min-width: 90px;

  i:hover {
    cursor: pointer
  }
}

.leaderboard-render {
  .popout {
    text-align: right;
  }
}

.last-updated {
  padding-bottom: 2rem;
}

table.rankings, table.round, table.teams-reorder-admin {
  width: 100%;
  margin: 0 auto;

  .crest-outer {
    width: 50px;
    text-align: center;

    .crest {
      display: inline-block;
      width: 40px;
      padding: 0.25rem 0;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}

table.round {
  color: $secondary-dark;
  font-family: $heading-font-family;
  font-size: 2rem;
  margin: 2rem auto;
}

.loader-container {
  width: 90px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.text-highlight {
  color: $secondary-dark;
}

.text-lolight {
  color: $primary-light-tint-dark;
}

@media screen and (min-width: 768px) {
  table.rankings:not(.full-width), table.round, table.teams-reorder-admin {
    width: 75%;
  }
}

@media screen and (min-width: 992px) {
  table.rankings:not(.full-width), table.round {
    width: 50%;
  }
}
